@media (max-width: 678px) {
    .example_body {
        max-width: 380px!important;
    }
    .privacy_prompt{
        max-width: 380px!important;
    }

    .table_row_status {
        padding-top: 10px;
        padding-bottom: 0px;
    }




}
#container{
    position: fixed;
    top: 0px;
    z-index: 1100;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bg_layer_dialogue{
    z-index: 1001;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    background-color: #{{primary_color}};
    opacity: 0.4;
}

.consent_dialogue {
    z-index: 1100;
    position: relative;
    max-width: 600px;
    width: 100%;
    
    
    border: 1px solid #CCC;
    border-radius: 4px;
    margin: 5px;
    
    font-size: 2vh;
    text-align: left;
    line-height: 20px;
    background-color: #FFF;
    color: #444;
    overflow-y: scroll;
    max-height: 600px;
    
    padding-top: 0%;
    padding-bottom: 0%;
}


.dialogue_title { 
    font-size: 22px;
    color: #{{primary_color}}; /*primary color*/
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    margin-top: 0%;
    font-family: inherit;
}

.dialogue_paragraph { 
    text-decoration: none;
    color: #{{primary_color}}; /*primary color*/
    font-size: 2vh;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
} 

.consent_dialogue_content {
    font-size: 0.9em;
    margin: 5%;
}

.table_header{
    display: none
}
#analytics{display: none}
#affiliates{display: none}
#search{display: none}
#email{display: none}
#social{display: none}
#big_data{display: none}
#cookie_match{display: none}
#cdp{display: none}
#mobile{display: none}
#engagement{display: none}
#monitoring{display: none}
#crm{display: none}
#miscallenous{display: none}

.table_row{
    border-bottom: 1px solid #{{primary_color}}; /*primary color*/
    padding: 10px 0px;
    width: auto;
    overflow:hidden;
}

.table_row_title {
    font-weight: 600;
    line-height: 2em;
}

.table_row_description{
    clear: left;
    max-width: 399px;
    display: inline-block;
}

.table_row_status{
    float: right;
    display: block;

}

.option_set {
}

.option {
    margin: 10px 0px;
    color: #444;
}

.consent_dialogue_footer {
    padding: 0px 20px 20px 20px;
    overflow: auto;
    padding: 0px;
    margin: 5%;
}

.consent_dialogue_footer a {
    font-size: 0.9em;
}

.consent_dialogue_footer .button {
    font-size: 1.0em;
    padding: 6px 34px;
    min-width: 120px;
    text-align: center;
    border-radius: 4px;
    color: #fff; 
    cursor: pointer;
    text-transform: uppercase;
    background-color: #{{primary_color}}; /*primary color*/
}

.consent_dialogue .button.right {
    float: right;
}

.consent_dialogue .button.left {
    float: left;
}

.consent_dialogue > .close_btn_thick {
    position: absolute;
    /*display: none;*/
    top: 17px;
    right: 19px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    color: #{{primary_color}}; /*primary color*/
    font: 25px/100% arial, sans-serif;
}

.consent_dialogue > .close_btn_thick:after {
  content:  "\d7"; 
}

.consent_dialogue .logo {
    float: right;
}

.consent_dialogue table {
    padding: 0px;
    border-collapse: collapse;
}

.consent_dialogue table tr {
}

.consent_dialogue table th {
    background-color: #FAFAFA;
    border-bottom: 1px solid #EEE;
    margin: 0px;
    padding: 5px 8px;
    font-weight: 400;
    text-align: center;
}

.consent_dialogue table td {
    vertical-align: top;
    padding: 10px 8px 5px 8px;
}

.consent_dialogue table tr td:first-child {
    min-width: 30%;
    font-weight: 600;
    color: #666;
}

.consent_dialogue table tr td:last-child {
    text-align: center;
    min-width: 30%;
}

.consent_dialogue input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: -99999px;
}

.consent_dialogue input[type="checkbox"].toggle + label {
    height: 24px;
    line-height: 24px;
    background-color: #ccc;
    padding: 0px 16px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    -moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.consent_dialogue input[type="checkbox"].toggle + label:before, .consent_dialogue input[type="checkbox"].toggle + label:hover:before {
  content:  " "; 
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 20px;
    background: #fff;
    z-index: 2;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
}

.consent_dialogue input[type="checkbox"].toggle + label .off, .consent_dialogue input[type="checkbox"].toggle + label .on {
    color: #fff;
}

.consent_dialogue input[type="checkbox"].toggle + label .off {
    margin-left: 20px;
    display: inline-block;
}

.consent_dialogue input[type="checkbox"].toggle + label .on {
    display: none;
}

.consent_dialogue input[type="checkbox"].toggle:checked + label .off {
    display: none;
}

.consent_dialogue input[type="checkbox"].toggle:checked + label .on {
    margin-right: 20px;
    display: inline-block;
}

.consent_dialogue input[type="checkbox"].toggle:checked + label, .consent_dialogue input[type="checkbox"].toggle:focus:checked + label {
    background-color: #{{primary_color}}; /*primary color*/
}

.consent_dialogue input[type="checkbox"].toggle:checked + label:before, .consent_dialogue input[type="checkbox"].toggle:checked + label:hover:before, .consent_dialogue input[type="checkbox"].toggle:focus:checked + label:before, .consent_dialogue input[type="checkbox"].toggle:focus:checked + label:hover:before {
    background-position: 0 0;
    top: 2px;
    left: 100%;
    margin-left: -28px;
}