<!-- utag_data DataLayer information 
Insert this script in every environment-->

<script type="text/javascript">
var utag_data = {
/** page information & architecture */
    tealium_event : "",    
    website_section : "", // Contains a user-friendly website section i.e. homepage, catalogue, content, corporate
    page_category : "", // Contains a user-friendly page category, e.g. 'appliance page'.
    page_subcategory : "", // Contains a user-friendly page subcategory, e.g. 'refrigerator page'.
    page_type : "", // i.e. product_page; recipe_page; homepage; catalogue; etc.
    page_name : "", // Contains a user-friendly name for the page (usually document.title)
    breadcrumbs : "", // bradcrumbs in Array split by commas. 

/** Product Information on PRODUCT PAGE  
 * website_section = 'catalogue',
 * page_type = 'product_page'
 */
    product_id : "", // Contains product ID usually the first ean.
    product_name : "", // Contains Product Name
    product_image : "", // as full url
    product_legal : "", // get legal denomination of product
    product_brand : "", // Contains product brand
    product_category : "", // Contains product category i.e. 'latte', 'buro', 'fromaggi'
    product_subcategory : "",

/** Related Product Information 
 * on PRODUCT PAGE 
 * website_section = 'catalogue',
 * page_type = 'product_page'
 * 
 * AND 
 * 
 * on RECIPE PAGES
 * website_section = 'recipes',
 * page_type = 'recipe_page',
 */

    relatedProduct_name : [], // array of all the related product names
    relatedProduct_img : [], // array of all the related product as full url
    relatedProduct_url : [], // array of all the related product URL (href)
    relatedProduct_brand : [], // array of all the related product brands (from href)
    relatedProduct_category : [], // array of all the related product category (from href)

/** Related Recipe Information 
 * on PRODUCT PAGE 
 *  website_section = 'catalogue',
 *  page_type = 'product_page'
 * 
 * AND 
 * 
 * on RECIPE PAGES
 *  website_section = 'recipes',
 *  page_type = 'recipe_page',
 */

    relatedRecipe_name : [], // array of all the related recipe names
    relatedRecipe_img : [], // array of all the related recipe as full url
    relatedRecipe_url : [], // array of all the related recipes URL (href)

/** Recipe Information
 * on RECIPE PAGE 
 *  website_section = 'recipes',
 *  page_type = 'recipe_page',
*/
    recipe_name : "", // contains recipe name
    recipe_image : "", // contains recipe image as full url
    recipe_category : "", // contains recipe category i.e. dessert, dolce, primo
    recipe_details : {
        skills:'', // contains the skills needed facile, media, etc as a String
        duration:'', // contains recipe duration as minutes in String or NUM
        healthiness:'', // contains the healthiness
        servings:'' // contains the number of people that can eat the recipe
    },

/** Recipe Information */
    content_name : "",
    content_image : "", // as full url
    content_category : "", 
}
</script>

<!--- Tealium tag loading async - utag.js -->

<!-- Tealium Tag for DEV -->
<!-- Loading script asynchronously -->
<script type="text/javascript">
    (function(a,b,c,d){
    a='//tags.tiqcdn.com/utag/granarolo/granarolovegetale.it/dev/utag.js';
    b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
    a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
    })();
</script>

<!-- Tealium Tag for QA -->
<!-- Loading script asynchronously -->
<script type="text/javascript">
    (function(a,b,c,d){
    a='//tags.tiqcdn.com/utag/granarolo/granarolovegetale.it/qa/utag.js';
    b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
    a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
    })();
</script>

<!-- Tealium Tag for PROD -->
<!-- Loading script asynchronously -->
<script type="text/javascript">
    (function(a,b,c,d){
    a='//tags.tiqcdn.com/utag/granarolo/granarolovegetale.it/prod/utag.js';
    b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
    a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
    })();
</script>