@media (max-width: 678px) {
  .full-width-mobile{
    float:none;
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  .privacy_prompt img{
    float:none!important;
  }
  #consent_prompt_submit{
    float:none!important;
    margin-top:15px;
  }
}

#bg_layer{
    
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  background-color: #{{primary_color}}; /*primary color*/
  opacity: 0;
}
#wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex-direction: row;
    -moz-box-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: fixed;
}

.example_body { 
    position: fixed;
    {{prompt_position}}; /* above = '1' or '' while below = '0'*/
    left: 0%;
    right: 0%;
    text-align: center;
    font-family: Helvetica;
    background: #{{primary_color}}; /*primary color*/
    z-index: 1100;
} 
 
.privacy_prompt { 
    position: relative;
    max-width: 100%;
    text-align: left;
    background-color: #{{primary_color}}; /*primary color*/
    color: #{{secondary_color}}; /*secondary color*/
    font-family: inherit;
}

.privacy_prompt img {
    display: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 17em;
    float: left;
    padding: 0px 15px 15px 0px;
}

.prompt_title {
    display: none;
    color: #{{secondary_color}};/*secondary color*/
    font-weight: 600;
    text-transform: uppercase;
    margin: auto;
    padding: 0px 10px 10px 10px;

}

.prompt_paragraph { 
    text-decoration: none;
    color: #{{secondary_color}}; /*secondary color*/
    margin-bottom: 0;
    margin-top: 0;
    line-height: 20px;
    font-size: 18px;
    
}

.prompt_link { 
    color: #{{link_color}}; /*link color*/
    text-decoration: none;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 20px;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}

.prompt_link hover { 
    color: #{{link_color}}; /*link color*/
    text-decoration: none;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 20px;
    font-size: 18px;
}
 
.privacy_prompt_content { 
    padding: 5px 30px 0px 20px;
} 

.option_set { 
  display: none
} 
 
.option { 
  margin: 10px 0px; 
  color: #444;
} 
 
.privacy_prompt_footer { 
    padding: 0px 0px 10px;
    overflow: auto;
} 
 
.privacy_prompt_footer a { 
  font-size: 0.9em; 
} 
 
.privacy_prompt_footer .button {
    border: 2px solid #{{secondary_color}};
    padding: 2px;
    width: 15%;
    min-width: 80px;
    text-align: center;
    border-radius: 4px;
    background-color: transparent;
    color: #{{secondary_color}};
    cursor: pointer;
    margin: auto 30px auto auto;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    

} 

.privacy_prompt_footer .button:hover {
    background-color: #{{secondary_color}}; /*secondary color*/
    color: #{{primary_color}}; /*primary color*/
}

 
.privacy_prompt > .close_btn_thick { 
  position: absolute; 
  display: block; 
  top: 14px;
  right: 14px;
  text-decoration: none; 
  color: #{{secondary_color}}; 
  cursor: pointer;
  display: none;
} 
 
.privacy_prompt > .close_btn_thick:after { 
  content:  "\d7"; 
} 
 
.privacy_prompt .logo { 
  float: right;
} 
 
.privacy_prompt table { 
  padding: 0px; 
  border-collapse: collapse; 
} 
 
.privacy_prompt table th { 
  background-color: #FAFAFA; 
  border-bottom: 1px solid #EEE; 
  margin: 0px; 
  padding: 5px 8px; 
  font-weight: 400; 
  text-align: center; 
} 
 
.privacy_prompt table td { 
  vertical-align: top; 
  padding: 10px 8px 5px 8px; 
} 
 
.privacy_prompt table tr td:first-child { 
  min-width: 120px; 
  font-weight: 600; 
  color: #666; 
} 
 
.privacy_prompt table tr td:last-child { 
  text-align: center; 
  min-width: 100px; 
} 
 
.privacy_prompt input[type="checkbox"].toggle { 
  opacity: 0; 
  position: absolute; 
  left: -99999px; 
} 
 
.privacy_prompt input[type="checkbox"].toggle + label { 
  height: 24px; 
  line-height: 24px; 
  background-color: #ccc; 
  padding: 0px 16px; 
  border-radius: 16px; 
  display: inline-block; 
  position: relative; 
  cursor: pointer; 
  -moz-transition: all 0.25s ease-in; 
  -o-transition: all 0.25s ease-in; 
  -webkit-transition: all 0.25s ease-in; 
  transition: all 0.25s ease-in; 
  -moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5); 
  -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5); 
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5); 
} 
 
.privacy_prompt input[type="checkbox"].toggle + label:before, .privacy_prompt input[type="checkbox"].toggle + label:hover:before { 
  content:  " "; 
  position: absolute; 
  top: 2px; 
  left: 2px; 
  width: 26px; 
  height: 20px; 
  background: #fff; 
  z-index: 2; 
  -moz-transition: all 0.25s ease-in; 
  -o-transition: all 0.25s ease-in; 
  -webkit-transition: all 0.25s ease-in; 
  transition: all 0.25s ease-in; 
  -moz-border-radius: 14px; 
  -webkit-border-radius: 14px; 
  border-radius: 14px; 
} 
 
.privacy_prompt input[type="checkbox"].toggle + label .off, .privacy_prompt input[type="checkbox"].toggle + label .on { 
  color: #fff; 
} 
 
.privacy_prompt input[type="checkbox"].toggle + label .off { 
  margin-left: 20px; 
  display: inline-block; 
} 
 
.privacy_prompt input[type="checkbox"].toggle + label .on { 
  display: none; 
} 
 
.privacy_prompt input[type="checkbox"].toggle:checked + label .off { 
  display: none; 
} 
 
.privacy_prompt input[type="checkbox"].toggle:checked + label .on { 
  margin-right: 20px; 
  display: inline-block; 
} 
 
.privacy_prompt input[type="checkbox"].toggle:checked + label, .privacy_prompt input[type="checkbox"].toggle:focus:checked + label { 
  background-color: #3278c0; 
} 
 
.privacy_prompt input[type="checkbox"].toggle:checked + label:before, .privacy_prompt input[type="checkbox"].toggle:checked + label:hover:before, .privacy_prompt input[type="checkbox"].toggle:focus:checked + label:before, .privacy_prompt input[type="checkbox"].toggle:focus:checked + label:hover:before { 
  background-position: 0 0; 
  top: 2px; 
  left: 100%; 
  margin-left: -28px; 
}