<div id="bg_layer"></div>
<div class="example_body">
  <div class="privacy_prompt">
    <div class="privacy_prompt_content">
      <div class="full-width-mobile"><img src={{company_logo_url}} alt="https://upload.wikimedia.org/wikipedia" class="company_logo"></div>
      <h1 class="prompt_title">{{title}}</h1>
      <p class="prompt_paragraph">Questo sito utilizza cookie, anche di terze parti, necessari al suo funzionamento e per inviarti pubblicità e servizi in linea con le preferenze da te manifestate nel corso della navigazione in rete.  Chiudendo il banner, scorrendo la pagina o cliccando qualunque elemento acconsenti all’utilizzo dei cookie.</br>
Per modificare le tue preferenze <a class='prompt_link' id='dialogue_box' href='#' style='text-decoration: underline;'>clicca qui</a> e per consultare la nostra cookie policy <a class='prompt_link' id='cookie_page' href='{{privacy_policy_url}}' style='text-decoration: underline;'>clicca qui</a></p>
      <div class="option_set">
        <div class="option">
          <input type="radio" id="privacy_pref_optin" name="privacy_pref" value="optin">
          <label for="privacy_pref_optin">{{opt_in}}</label>
        </div>
        <div class="option">
          <input type="radio" id="privacy_pref_optout" name="privacy_pref" value="optout">
          <label for="privacy_pref_optout">{{opt_out}}</label>
        </div>
      </div>
    </div>
    <div class="privacy_prompt_footer">
      <div id="consent_prompt_submit" class="button right">
        {{confirmation_button}}
      </div>
    </div>
    <div class="close_btn_thick"></div>
  </div>
</div>